.uip-title {
	
}

.uip-title__style {
	font-size: 30px;
	color: #2c2b29;
	margin: 5% 0 0 20%;
	text-shadow: 1px 1px 1px white;
}

.uip-menu {
	display: flex;
	flex-direction: row;
}

.uip-block__menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.uip-menu__option {
	margin: 40px 10px 0 10px;
	font-size: 18px;
	text-decoration: none;
	color: #676056;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: #676056;
}

.uip-button {

}

.uip-button__get-start {
	margin: 5% 0 4% 7%;
	border: solid black 3px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 20px;
	font-size: 12px;
	padding: 1% 5%;
	font-weight: bold;
}

.uip-button__get-start:focus {
	border: solid transparent 3px;
	background-color: rgb(100,100,100);
	outline: none;
}

.uip-text-block {

}

.uip-block__text-block {
	margin: 20% 0 0 7%;
}

.uip-text-block__welcome {
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0 0 4% 0;
	font-size: 15px;
	color: grey;
	text-transform: uppercase;
}

.uip-text-block__hello {
	font-family: 'SourseSansPro', serif;
	margin: 4% 6% 4% 0;
	font-size: 36px;	
}

.uip-text-block__stimulus {
	font-weight: bold;
}

.uip-text-block__statement {
	font-family: 'SourseSansPro', serif;
	margin: 4% 6% 4% 0;
	font-size: 16px;
	color: grey;
}