/* 4th row styles*/

.uip-exp-block {
} 

.uip-block__exp-block {
margin-left: 7%;
margin-top: 8%;
}

.uip-exp-block__speciality {
display: flex;
flex-direction: row;
align-items: flex-start;
}

.uip-exp-block__string {
font-size: 36px;
font-family: 'SourseSansPro', serif;
color: white;

}

.uip-exp-block__string-sm {
font-size: 13px;
font-family: 'SourseSansPro', serif;
color: white;
}

.uip-exp-block__pc-icon {
margin-right: 3%;
color: white;
font-size: 30px;
}

.uip-exp-block__string-sm_pos {
margin-top: 2.5%;
}

.uip-exp-block__string-med {
font-size: 20px;
font-family: 'SourseSansPro', serif;
color: white;
margin-right: 2%;
}

.uip-exp-block__string-date {
font-size: 14px;
font-family: 'SourseSansPro', serif;
color: black;
font-weight: bold;
margin-top: 1%;
}

.uip-exp-block__speciality_pos {
margin-top: 7%;
}

.uip-exp-block__string-sm_pos {
margin-top: 1%;
margin-left: 9%;
}