/* 7th row styles */

.uip-block-form {

}

.uip-block-form__wrap {
	margin: 3% 0 0 4.5%;
}

.uip-block-form__string-lg {
	font-family: 'SourseSansPro', serif;
	font-size: 36px;  
	color: white;
}

.uip-block-form__string-sm {
	font-family: 'SourseSansPro', serif;
	font-size: 12px;
	color: white;
	margin-top: 5%;
}

.uip-block-form__field {
	background-color: #e9714c;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #e4ae58 1px;
	font-family: 'SourseSansPro', serif;    
	font-size: 15px;
	color: white;
	padding: 0 55% 0 3%;
	margin-top: 5%;
	margin-right: 1%;
}

.uip-block-form__field::-webkit-input-placeholder {
	color: white;
}

.uip-block-form__field:focus::-webkit-input-placeholder {
	color: transparent;	
}

.uip-block-form__fields {
	margin-top: 5%;
}

.uip-block-form__form {

}

.uip-block-form__wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.uip-block__block-contact {
	margin: 8.5% 0 0 13%;
	color: white;
}

.uip-block-contact__string-lg {
	font-size: 20px;
	font-family: 'SourseSansPro', serif;
	margin-top: 8%;
}

.uip-block-contact__string-sm {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	font-family: 'SourseSansPro', serif;
	font-size: 12px;
	margin-top: 6%;
}

.uip-block-contact__string-sm a {
	color: #e4ae58;
}


.uip-block-contact__icon{
	margin-right: 2%;
}

.uip-block-button__send {    
	border: solid black 3px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 20px;
	font-size: 15px;    
	font-weight: bold;
	margin-top: 5%;
	padding: 1% 20%;
}

.uip-block-button__send:focus {		
	border: solid transparent 3px;
	background-color: rgb(100,100,100);
	outline: none;
}