/* 5th row styles*/

.uip-edu-block {
} 

.uip-block__edu-block {
	margin-left: 5.6%;
	margin-top: 8%;
	margin-right: 12.1%;
}
.uip-edu-block__trait {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.uip-edu-block__string {
	font-size: 36px;
	font-family: arial;
	color: white;

}

.uip-edu-block__string-sm {
	font-size: 12px;
	font-family: arial;
	color: white;
}

.uip-edu-block__pc-icon {
	margin-right: 3%;
	color: white;
	font-size: 30px;
}

.uip-edu-block__string-sm_pos1 {
	margin-top: 2.5%;

}

.uip-edu-block__string-med {
	font-size: 20px;
	font-family: arial;
	color: white;
	margin-right: 2%;
}

.uip-edu-block__string-date {
	font-size: 14px;
	font-family: arial;
	color: black;
	font-weight: bold;
	margin-top: 1%;
}

.uip-edu-block__trait_pos1 {
	margin-top: 8%;
}

.uip-edu-block__trait_pos2 {
	margin-top: 7%;
}

.uip-edu-block__string-sm_pos2 {
	margin-top: 1%;
	margin-left: 9%;
}
