/* footer styles */
.uip-footer {

}

.uip-footer__wrap {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.ui-footer__string-wrap {
display: flex;
flex-direction: row;
margin-top: 45%;
justify-content: center; 
}

.ui-footer__string {
color: grey;
}

.ui-footer__string_theme-yellow {
color: #e4ae58;
}

.ui-footer__icon-wrap{
display: flex;
flex-direction: row;
margin-top: 6%;
justify-content: center;
}

.ui-footer__icon {
margin: 0 10% 0 10%;
color: grey;
font-size: 18px;
}