/* Grid and blocks backgrouns styles*/
.uip-global-container {
}

.uip-global-container__wrap {
	background: black;
	width: 100%;
	max-width: 1480px;
	display: flex;
	flex-direction: column;
}

.uip-global-container__block {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.uip-global-container__block_height-xxl {
	
}

.uip-global-container__block_height-xl {
	height: 617px;
	display: flex;
	flex-direction: row;
}

.uip-global-container__block_height-l {
	height: 478px;
	display: flex;
	flex-direction: row;
}

.uip-global-container__block_height-m {
	height: 445px;
	display: flex;
	flex-direction: row;
}

.uip-global-container__block_height-s {
	height: 377px;
	display: flex;
	flex-direction: row;
}

.uip-global-container__block_height-xs {
	height: 336px;
	display: flex;
	flex-direction: row;
}

.uip-block {
}

.uip-block__size-mid {
	width:  50%;
}

.uip-block__size-sm {
	width:  25%;
}

.uip-block_bg-dude1 {
	background: no-repeat;
	background-image: url(UI_project_files/5.jpg);
	background-position: 52% 80%;
	background-size: cover;
}

.uip-block_bg-grey {
	background-color: #b6b6b6;
}

.uip-block_bg-light {
	background-color: #ffffff;
}

.uip-block_bg-yellow {
	background-color: #e4ae58;
}

.uip-block_bg-dude2 {
	background: no-repeat;
	background-image: url(UI_project_files/1.jpg);
	background-position: 50% 0%;
	background-size: cover;
}

.uip-block_bg-red {
	background-color: #e9714c;
}

.uip-block_bg-black {
	background-color: #161616;
}

.uip-block_bg-phone {
	background: no-repeat;
	background-image: url(UI_project_files/4.jpg);
	background-position: 51% 0%;
	background-size: cover; 
}

.uip-block_bg-chick-hands {
	background: no-repeat;
	background-image: url(UI_project_files/3.jpg);
	background-position: 35% 0%;
	background-size: cover;
}

.uip-block_bg-dude-hands {
	background: no-repeat;
	background-image: url(UI_project_files/6.jpg);
	background-position: 35% 15%;
	background-size: cover;
}

@font-face {
	font-family: fontawesome-webfont; 
	src: url(fonts/fontawesome-webfont.ttf);
}
