/* Grid styles*/
.uip-global-container {
}

.uip-global-container__wrap {
background: black;
width: 100%;
max-width: 1480px;
display: flex;
flex-direction: column;
}

.uip-global-container__block {
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
}

.uip-global-container__block_height-xxl {
height: 820px;
}

.uip-global-container__block_height-xl {
height: 617px;
display: flex;
flex-direction: row;
}

.uip-global-container__block_height-l {
height: 478px;
display: flex;
flex-direction: row;
}

.uip-global-container__block_height-m {
height: 445px;
display: flex;
flex-direction: row;
}

.uip-global-container__block_height-s {
height: 377px;
display: flex;
flex-direction: row;
}

.uip-global-container__block_height-xs {
height: 336px;
display: flex;
flex-direction: row;
}

.uip-block {
}

.uip-block__size-mid {
width:  50%;
}

.uip-block__size-sm {
width:  25%;
}

.uip-block_theme_dude1 {
background: no-repeat;
background-image: url(UI_project_files/5.jpg);
background-position: 52% 80%;
background-size: cover;
}

.uip-block_theme_grey {
background-color: #b6b6b6;
}

.uip-block_theme_ligth {
background-color: #ffffff;
}

.uip-block_theme_yellow {
background-color: #e4ae58;
}

.uip-block_theme_dude2 {
background: no-repeat;
background-image: url(UI_project_files/1.jpg);
background-position: 50% 0%;
background-size: cover;
}

.uip-block_theme_red {
background-color: #e9714c;
}

.uip-block_theme_black {
background-color: #161616;
}

.uip-block_theme_phone {
background: no-repeat;
background-image: url(UI_project_files/4.jpg);
background-position: 51% 0%;
background-size: cover; 
}

.uip-block_theme_chick-hands {
background: no-repeat;
background-image: url(UI_project_files/3.jpg);
background-position: 35% 0%;
background-size: cover;
}

.uip-block_theme_dude-hands {
background: no-repeat;
background-image: url(UI_project_files/6.jpg);
background-position: 35% 15%;
background-size: cover;
}

@font-face {
font-family: fontawesome-webfont; 
src: url(fonts/fontawesome-webfont.ttf);
}

/* 1st row styles */

.uip-title {
font-family: Arial, Helvetica, sans-serif;
}

.uip-title__style {
font-size: 30px;
color: #2c2b29;
margin: 5% 0 0 20%;
text-shadow: 1px 1px 1px white;
}

.uip-block_theme_dude3 {
background: no-repeat;
background-image: url(UI_project_files/2.jpg);
background-position: 50% 0%;
background-size: cover;
}

.uip-menu {
display: flex;
flex-direction: row;
}

.uip-block__menu {
display: flex;
flex-direction: row;
justify-content: center;
}

.uip-menu__align {
margin: 40px 10px 0 10px;
font-size: 18px;
text-decoration: none;
color: #676056;
font-family: verdana;
}

.menu__link {
text-decoration: none;
color: #676056;   
}

a {
text-decoration: none;
color: #676056;
}

.uip-button {

}

.uip-button__get-start {
margin: 7% 0 4% 7%;
border: solid black 3px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 20px;
font-size: 12px;
padding: 1% 5%;
font-weight: bold;
}

.uip-text-block {

}

.uip-block__text-block {
margin: 30% 0 0 7%;
}

.uip-text-block__welcome {
font-family: Georgia;
margin: 0 0 4% 0;
font-size: 12px;
color: grey;
}

.uip-text-block__hello {
font-family: Arial;
margin: 4% 6% 4% 0;
font-size: 36px;
}

.uip-text-block__stimulus {
font-weight: bold;
}

.uip-text-block__statement {
font-family: Arial;
margin: 4% 6% 4% 0;
font-size: 15px;
color: grey;
}

/* 2nd row styles */

.uip-block__text-block2 {
margin: 5% 7% 20% 4.5%;
}

.uip-text-block2__donec {
font-family: Arial;
margin-bottom: 4.5%;
font-size: 36px;
}

.uip-text-block2__sed {
font-family: Arial;
margin-bottom: 6.75%;
font-size: 15px;
}

.uip-text-block2__phasellus {
font-family: Arial;
margin-bottom: 4%;
font-size: 15px;
}

.uip-text-block2__quisque {
font-family: Arial;
font-size: 15px;
}

.uip-text-block2__theme-gold {
color: #e4ae58;
}

.uip-skills-block__wrap {
margin: 15% 5% 15% 7%;
}

.uip-skills-block__skills {
font-family: Arial;
margin-bottom: 9%;
font-size: 36px;
}

.uip-skills-block__skills_theme-white {
color: white;
}

.uip-skills-block__soft {
font-family: Arial;
font-size: 15px;
margin-bottom: 13%;
}

.uip-skills-block__align {
}

.uip-skills-block__soft_theme-white {
color: white;
}

.uip-skills-block__progbar-percent {
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}

.uip-skills-block__align {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.uip-skills-block__progbar-fe {
font-family: Arial;
font-weight: bold;
font-size: 12px;
margin-bottom: 1%;
margin-right: 49%;
}

.uip-skills-block__progbar-bp {
font-family: Arial;
font-weight: bold;
font-size: 12px;
margin-bottom: 1%;
margin-right: 39%;
}

.uip-skills-block__progbar-htcss {
font-family: Arial;
font-weight: bold;
font-size: 12px;
margin-bottom: 1%;
margin-right: 52%;
}

.uip-skills-block__progbar-line {
display: flex;
flex-direction: row;
margin-bottom: 10%;

}

.uip-skills-block__progbar-get {
background-color: black;
height: 2px;
}

.uip-skills-block__progbar-get_big {   
    width: 90%;
}

.uip-skills-block__progbar-get_sm {
    width: 70%;
}

.uip-skills-block__progbar-get_mid {    
    width: 80%;
}


.uip-skills-block__progbar-left {
background-color: white;
height: 2px;
}

.uip-skills-block__progbar-left_big {
    width: 30%;
}

.uip-skills-block__progbar-left_sm {
    width: 10%;
}

.uip-skills-block__progbar-left_mid {
    width: 20%;
}


/* 3rd row styles*/
.uip-block__perk {
margin: 15% 7% 20% 7%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.uip-icon {

    }

.uip-icon__style {	
	font-size: 40px;
	margin-top: 3%;
}

.uip-icon__style_theme-white {	
	color: white;
}

.uip-icon__style_theme-black {	
	color: black;
}

.uip-block__string {
color: white;
font-family: Arial;
font-size: 26px;
margin-top: 11%;
}

.uip-block__string-sm {
color: white;
font-family: Arial;
font-size: 20px;
margin-top: 10%;
text-align: center;
}

.uip-block__string_theme-black {
color: black;
}

.uip-block__string-sm_theme-black {
color: black;
}

/* 4th row styles*/

.uip-exp-block {
} 

.uip-block__exp-block {
margin-left: 7%;
margin-top: 8%;
}

.uip-exp-block__trait {
display: flex;
flex-direction: row;
align-items: flex-start;
}

.uip-exp-block__string {
font-size: 36px;
font-family: arial;
color: white;

}

.uip-exp-block__string-sm {
font-size: 12px;
font-family: arial;
color: white;
}

.uip-exp-block__pc-icon {
margin-right: 3%;
color: white;
font-size: 30px;
}

.uip-exp-block__string-sm_pos1 {
margin-top: 2.5%;

}

.uip-exp-block__string-med {
font-size: 20px;
font-family: arial;
color: white;
margin-right: 2%;
}

.uip-exp-block__string-date {
font-size: 14px;
font-family: arial;
color: black;
font-weight: bold;
margin-top: 1%;
}

.uip-exp-block__trait_pos1 {
margin-top: 8%;
}

.uip-exp-block__trait_pos2 {
margin-top: 7%;
}

.uip-exp-block__string-sm_pos2 {
margin-top: 1%;
margin-left: 9%;
}

/* 5th row styles*/

.uip-edu-block {
} 

.uip-block__edu-block {
margin-left: 5.6%;
margin-top: 8%;
margin-right: 12.1%;
}
.uip-edu-block__trait {
display: flex;
flex-direction: row;
align-items: flex-start;
}

.uip-edu-block__string {
font-size: 36px;
font-family: arial;
color: white;

}

.uip-edu-block__string-sm {
font-size: 12px;
font-family: arial;
color: white;
}

.uip-edu-block__pc-icon {
    margin-right: 3%;
    color: white;
    font-size: 30px;
}

.uip-edu-block__string-sm_pos1 {
margin-top: 2.5%;

}

.uip-edu-block__string-med {
font-size: 20px;
font-family: arial;
color: white;
margin-right: 2%;
}

.uip-edu-block__string-date {
font-size: 14px;
font-family: arial;
color: black;
font-weight: bold;
margin-top: 1%;
}

.uip-edu-block__trait_pos1 {
margin-top: 8%;
}

.uip-edu-block__trait_pos2 {
margin-top: 7%;
}

.uip-edu-block__string-sm_pos2 {
margin-top: 1%;
margin-left: 9%;
}

/* 6th row styles*/

.uip-star-section {

}

.uip-star-section__star-icon {
    color:white;
    font-size: 40px;
    margin-top: 9%;
}

.uip-star-section__string-lg {
font-family: arial;
font-size: 36px;
max-width: 60%;
color: white;
text-align: center;
margin-top: 2%;
}

.uip-star-section__string-sm {
font-family: arial;
font-size: 12px;
color: white;
text-align: center;
margin-top: 4%;
}

.uip-star-section__wrap {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 100%;
}

/* 7th row styles */

.uip-block-form {

}

.uip-block-form__wrap {
margin: 8.6% 0 0 4.5%;
}

.uip-block-form__string-lg {
font-family: arial;
font-size: 36px;  
color: white;
}

.uip-block-form__string-sm {
font-family: arial;
font-size: 12px;
color: white;
margin-top: 5%;
}

.uip-block-form__field {
    background-color: #e9714c;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #e4ae58 1px;
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 15px;
    color: white;
    padding: 0 55% 0 3%;
    margin-top: 5%;
}

.uip-block-form__fields {
margin-top: 10%;
}

.uip-block-form__form {

}

.uip-block-form__wrap {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.uip-block__block-contact {
margin: 8.5% 0 0 13%;
color: white;
}

.uip-block-contact__string-lg {
    font-size: 20px;
    font-family: arial;
    margin-top: 8%;
}

.uip-block-contact__string-sm {
display: flex;
flex-direction: row;
align-items: flex-end;
font-family: arial;
font-size: 12px;
margin-top: 6%;
}

.uip-block-contact__icon{
margin-right: 2%;
}

.uip-block-contact__string-sm_theme-yellow {
color: #e4ae58;
}

.uip-block-button__send {    
    border: solid black 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    font-size: 15px;    
    font-weight: bold;
    margin-top: 5%;
    padding: 1% 20%;
}

/* footer styles */
.uip-footer {

}

.uip-footer__wrap {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.ui-footer__string-wrap {
display: flex;
flex-direction: row;
margin-top: 45%;
justify-content: center; 
}

.ui-footer__string {
color: grey;
}

.ui-footer__string_theme-yellow {
color: #e4ae58;
}

.ui-footer__icon-wrap{
display: flex;
flex-direction: row;
margin-top: 6%;
justify-content: center;
}

.ui-footer__icon {
margin: 0 10% 0 10%;
color: grey;
font-size: 18px;
}

/* media */
@media (max-width: 1050px) {
    .uip-menu__align {font-size: 15px;}
    .uip-menu__align {margin: 40px 10px 0 10px;}
    .ui-footer__string-wrap {margin-top: 15%;}
.uip-global-container__block_height-xxl { height: 590px;}
.uip-skills-block__progbar-fe {font-size: 10px;}
.uip-skills-block__progbar-fe {margin-right: ;}
.uip-skills-block__progbar-bp {font-size: 10px;}
.uip-skills-block__progbar-bp {margin-right: ;}
.uip-skills-block__progbar-htcss {font-size: 10px;}
.uip-block__string-sm {font-size: 13px;}
.uip-block__perk {margin-bottom:20% 7%;}
.uip-global-container__block_height-xs { height: 260px;}
.uip-skills-block__skills {
	font-family: Arial;
	margin-bottom: 7%;
	font-size: 27px;}
.uip-skills-block__wrap {
margin: 5% 5% 5% 7%;
}

@media (max-width: 909px) {
    .uip-menu__align {font-size: 12px;}
    .uip-menu__align {margin: 40px 10px 0 10px;}
    .uip-block__string {font-size: 20px;}
    .uip-block__string-sm {font-size: 12px;}
    .uip-block-form__field {padding: 0 35% 0 3%;}
    .uip-global-container__block_height-xxl { height: 550px;}
    .uip-global-container__block_height-xl { height: 480px;}
    .uip-global-container__block_height-l { height: 340px;}
    .uip-global-container__block_height-m { height: 280px;}
    .uip-global-container__block_height-s { height: 280px;}
    .uip-global-container__block_height-xs { height: 250px;}
    .uip-skills-block__skills { margin-bottom: 4%;}
    .uip-skills-block__skills { font-size: 28px;} 
    .uip-skills-block__soft { font-size: 10px;}
    .uip-skills-block__soft { margin-bottom: 9%;}    
.uip-text-block2__donec {margin-bottom: 4.5%;}
.uip-text-block2__sed {margin-bottom: 6.75%;}
.uip-text-block2__phasellus {margin-bottom: 4%;}
	.uip-skills-block__progbar-percent {font-size: 12px;}
    .uip-skills-block__progbar-fe {font-size: 10px;}
    .uip-skills-block__progbar-bp {font-size: 10px;}
    .uip-skills-block__progbar-htcss {font-size: 10px;}
    .uip-block-button__send { margin-top: 1%;}
    .uip-exp-block__string { font-size: 25px;}
    .uip-exp-block__string-sm {font-size: 10px;}    
    .uip-exp-block__pc-icon {font-size: 20px;}    
    .uip-exp-block__string-med {font-size: 13px;}    
    .uip-exp-block__string-date { font-size: 11px;}       
    .uip-edu-block__string-med {font-size: 13px;}    
    .uip-edu-block__string-date { font-size: 11px;}
    .uip-edu-block__string { font-size: 25px;}     
    .uip-edu-block__pc-icon {font-size: 20px;}
.uip-edu-block__string-sm {font-size: 10px;}  

    .uip-text-block2__phasellus {font-size: 12px;}        
    .uip-text-block2__quisque {font-size: 12px;}
    .uip-button__get-start {margin: 7% 0 10% 7%}
    .uip-text-block__welcome { margin-bottom: 1%;}
    .uip-text-block__hello {margin: 0% 6% 0% 0;} 
    .uip-text-block__hello {font-size: 28px;}
    .uip-star-section__star-icon {margin-top: 2%;}
.uip-block__string-sm {font-size: 14px;}
.uip-block__block-contact {
margin: 8.5% 0 0 7%;
color: white;
}
.ui-footer__string-wrap {
margin-top: 32%;
}
}
    

/* adptive */
@media (max-width: 1050px) {

.uip-menu__align {
	font-size: 15px; 
	margin: 40px 10px 0 10px;
}

.ui-footer__string-wrap {
	margin-top: 15%;
}

.uip-global-container__block_height-xxl { 
	height: 590px;
}
.uip-skills-block__progbar-fe {
	font-size: 10px;
}

.uip-skills-block__progbar-bp {
	font-size: 10px;
}

.uip-skills-block__progbar-htcss {
	font-size: 10px;
}

.uip-block__string-sm {
font-size: 13px;
}

.uip-block__perk {
	margin-bottom:20% 7%;
}

.uip-global-container__block_height-xs { 
height: 260px;
}

.uip-skills-block__skills {
	font-family: Arial;
	margin-bottom: 7%;
	font-size: 27px;
}

.uip-skills-block__wrap {
	margin: 5% 5% 5% 7%;
}



@media (max-width: 909px) {

.uip-menu__align {
	font-size: 12px;
}

.uip-block__string {
	font-size: 20px;
}

.uip-block__string-sm {
	font-size: 12px;
}

.uip-block-form__field {
	padding: 0 35% 0 3%;
}

.uip-global-container__block_height-xxl {
 height: 550px;
}

.uip-global-container__block_height-xl {
 height: 480px;
}

.uip-global-container__block_height-l { 
height: 340px;
}

.uip-global-container__block_height-m { 
height: 280px;
}

.uip-global-container__block_height-s { 
height: 280px;
}

.uip-global-container__block_height-xs {
 height: 250px;
}

.uip-skills-block__skills { 
	margin-bottom: 4%;
	font-size: 28px;
}

.uip-skills-block__soft { 
	font-size: 10px;
	margin-bottom: 9%;
}    

.uip-text-block2__donec {
	margin-bottom: 4.5%;
}

.uip-text-block2__sed {
	margin-bottom: 6.75%;
}

.uip-text-block2__phasellus {
	margin-bottom: 4%;
}

.uip-skills-block__progbar-percent {
font-size: 12px;
}

.uip-skills-block__progbar-fe {
	font-size: 10px;
}

.uip-skills-block__progbar-bp {
	font-size: 10px;
}

    .uip-skills-block__progbar-htcss {
	font-size: 10px;
}

.uip-block-button__send { 
	margin-top: 1%;
}

.uip-exp-block__string { 
	font-size: 25px;
}

.uip-exp-block__string-sm {
	font-size: 10px;
}    

.uip-exp-block__pc-icon {
	font-size: 20px;
}

.uip-exp-block__string-med {
	font-size: 13px;
}

.uip-exp-block__string-date {
	 font-size: 11px;
}

.uip-edu-block__string-med {
	font-size: 13px;
}

.uip-edu-block__string-date {
	 font-size: 11px;
}
.uip-edu-block__string { 
	font-size: 25px;
}

.uip-edu-block__pc-icon {
	font-size: 20px;
}

.uip-edu-block__string-sm {
	font-size: 10px;
}

.uip-text-block2__phasellus {
	font-size: 12px;
}        

.uip-text-block2__quisque {
	font-size: 12px;
}

.uip-button__get-start {
	margin: 7% 0 10% 7%;
}

.uip-text-block__welcome {
	margin-bottom: 1%;
}

.uip-text-block__hello {
	margin: 0% 6% 0% 0;
}

.uip-text-block__hello {
	font-size: 28px;
}

.uip-star-section__star-icon {
	margin-top: 2%;
}

.uip-block__string-sm {
	font-size: 14px;
}

.uip-block__block-contact {
	margin: 8.5% 0 0 7%;
	color: white;
}

.ui-footer__string-wrap {
	margin-top: 32%;
}

}
    

@media (max-width: 700px) {    
    
.uip-global-container__block { 
	width: 100%;
}

.uip-block__size-mid { 
	width: 100%;
}

.uip-block__size-sm { 
	width: 50%;
}

.uip-global-container__wrap {
	flex-wrap: wrap;
}

.uip-global-container__block {
	flex-wrap: wrap;
}

.uip-global-container__block_height-xxl { 
	height: auto;
}

.uip-block_theme_dude1 {
	min-height: 300px;
}

.uip-global-container__block_height-xl { 
	height: auto;
}

.uip-global-container__block_height-l {
	height: auto;
}

.uip-global-container__block_height-m { 
	height: auto;
}

.uip-global-container__block_height-s { 
	height: auto;
}

.uip-global-container__block_height-xs { 
	height: auto;
}

.uip-block_theme_chick-hands { 
	min-height: 250px;
}

.uip-block_theme_phone { 
	min-height: 250px;
}

.uip-star-section__string-lg { 
	font-size: 25px;
}

.uip-block__text-block {
	margin: 10% 0 0 7%;
}

.uip-text-block__statement {
	margin-top: 1%;
}

.uip-menu__align {
	font-size: 14px;
}

.uip-menu__align {
	font-weight: bold;
}

.uip-block__text-block2 {
	margin-bottom: 8%;
}

.uip-text-block2__donec {
	margin-bottom: 4%;
}

.uip-text-block2__sed {
	margin-bottom: 4%;
}

.uip-text-block2__phasellus {
	margin-bottom: 4%;
}

.uip-block__string-sm {
	font-size: 16px;
}

.uip-skills-block__progbar-percent {
	font-size: 14px;
}

.uip-skills-block__progbar-fe {
	font-size: 14px;
	margin-right: 46%;
}

.uip-skills-block__progbar-bp {
	font-size: 14px;
}

.uip-skills-block__progbar-bp {
	margin-right: 37%;
}

.uip-skills-block__progbar-htcss {
	font-size: 14px;
	margin-right: 53%;
}

.uip-block__string {
	margin-top: 8%;
}

.uip-block__perk {
	margin: 10% 7% 15% 7%;
}

.uip-block__string-sm {
	margin-top: 7%;
}

.uip-block__exp-block {
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 5%;
}

.uip-block__edu-block {
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 5%;
}

.uip-exp-block__trait_pos1 {
	margin-top: 4%;
}

.uip-edu-block__trait_pos1 {
	margin-top: 4%;
}

.uip-exp-block__trait_pos2 {
	margin-top: 3.5%;
}

.uip-exp-block__string-sm_pos2 {
	margin-left: 4%;
}

.uip-block__block-contact {
	margin: 8.5% 0 7% 7%;
	color: white;
}

.uip-star-section__string-sm {
	margin-top: 2%;
	margin-bottom: 3%;
}

.uip-block-form__fields {
	margin-top: 1%;
}

.uip-block-form__wrap {
	margin: 5% 0 5% 4.5%;
}

.ui-footer__string-wrap {
	margin-top: 10%;
}

.ui-footer__icon-wrap{
	margin-top: 6%;
	margin-bottom: 6%;
}
}