	.block {
	width: 800px;
	border: solid lightgrey 1px;
	
	border-radius: 4px;
	}
	
	.midblock {	
	position: relative;	
	height: 117px;
	margin-bottom: 10px;
	}

	.botblock {	
	position: relative;
	width: 800px;
	height: 117px;
	background-color: rgb(51,51,51);
	}

	.pinkbutton {
	background-color: rgb(217, 77, 168);
	border-radius: 3px;	
	color: white;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	width: 110px;
	position: absolute;
	left: 33px;
	top: 20px;
	border: none;
	
	}

	.shadow {
	box-shadow: 1px 1px 1px lightgrey;
	}
	
	.greenbutton {
	background-color: rgb(179, 215, 68);
	border-radius: 3px;	
	color: white;
	font-size: 7px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 146px;
	top: 27px;
	border: none;
	}

	.bluebutton {
	background-color: rgb(71, 147, 230);
	border-radius: 2px;	
	color: white;
	font-size: 7px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 33px;
	top: 55px;
	border: none;
	width: 55px;	
	}

	.bluebutton2 {
	background-color: rgb(71, 147, 230);
	border-radius: 2px;	
	color: white;
	font-size: 6px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 33px;
	top: 55px;
	border: none;
	width: 47px;	
	}
	
	.redbutton {
	background-color: rgb(237, 89, 90);
	border-radius: 2px;	
	color: white;
	font-size: 6px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 90px;
	top: 55px;
	border: none;
	width: 55px;
	}
	
	.orangebutton {
	background-color: rgb(255, 120, 45);
	border-radius: 2px;	
	color: white;
	font-size: 7px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 33px;
	top: 80px;
	border: none;	
	}

	.orangebutton2 {
	background-color: rgb(255, 120, 45);
	border-radius: 2px;	
	color: white;
	font-size: 5px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 33px;
	top: 80px;
	border: none;
	width: 50px;
	}

	.redbutton2 {
	background-color: rgb(237, 89, 90);
	border-radius: 2px;	
	color: white;
	font-size: 6px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 82px;
	top: 55px;
	border: none;
	width: 55px;
	}

	.yellowbutton {
	background-color: rgb(255, 195, 70);
	border-radius: 2px;
	color: white;
	font-size: 7px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 95px;
	top: 80px;
	border: none;	
	}
	
	.yellowbutton2 {
	background-color: rgb(255, 195, 70);
	border-radius: 2px;
	color: white;
	font-size: 5px;
	font-family: Arial;
	font-weight: bold;	
	position: absolute;
	left: 85px;
	top: 80px;
	border: none;
	}

	.whitesquare {
	background: white;
	width: 300px;
	height: 75px;
	position: absolute;
	left: 35%;
	top: 35%;
	border: solid black 1px;	
	}
	
	.headblock {
	height: 200px;
	width: 800px;
	position: relative ;	
	margin-bottom: 10px;
	overflow: hidden;
	
	}
	
	.SSI {	
	border: solid black 3px;
	position: absolute;
	width:	286px;
	height: 61px;
	margin: 4px;
	font-family: Brush Script MT;
	font-size: 40px;
	text-align: center;
	}

	.bgblock {
	transform: scale(0.5);
	width: 62px;
	height: 62px;
	border-radius: 10px;
	}

	.bgsection {
	position: absolute;
	width: 1000px;
	transform: rotate(-10deg);
	}

	.facebook {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 1% 50%;
	position: absolute;
	left: -2%;
	top: -10px;		
	}	

	.twocircles {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 11% 50%;
	position: absolute;
	left: 2.5%;
	top: -10px;	
	}

	.ball {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 20.5% 50%;	
	position: absolute;
	left: 7%;
	top: -10px;
	}

	.gplus {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 30% 50%;
	position: absolute;
	left: 11.5%;
	top: -10px;
	}

	.in {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 40% 51%;
	position: absolute;
	left: 16%;
	top: -10px;
	}

	.pintrest {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 50% 51%;	
	position: absolute;
	left: 20.5%;
	top: -10px;
	}

	.rss {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 59.5% 51%;
	position: absolute;
	left: 25%;
	top: -10px;
	}

	.skype {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 69.5% 51%;	
	position: absolute;
	left: 29.5%;
	top: -10px;
	}

	.twitter {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 79% 51%;
	position: absolute;
	left: 34%;
	top: -10px;
	}

	.vkont {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 89% 50%;
	position: absolute;
	left: 38.5%;
	top: -10px;
	} 

 	.youtube {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 98.5% 50%;	
	position: absolute;
	left: 43%;
	top: -10px;
	}

	.facebook2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 1% 50%;
	position: absolute;
	left: 47.5%;
	top: -10px;		
	}

	.twocircles2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 11% 50%;
	position: absolute;
	left: 52%;
	top: -10px;		
	}

	.ball2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 20.5% 50%;	
	position: absolute;
	left: 56.5%;
	top: -10px;
	}

	.gplus2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 30% 50%;
	position: absolute;
	left: 61%;
	top: -10px;
	}

	.in2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 40% 51%;
	position: absolute;
	left: 65.5%;
	top: -10px;
	}

	.pintrest2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 50% 51%;	
	position: absolute;
	left: 70%;
	top: -10px;
	}

	.rss2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 59.5% 51%;
	position: absolute;
	left: 74.5%;
	top: -10px;
	}

	.skype2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;	
	background-position: 69.5% 51%;	
	position: absolute;
	left: 79%;
	top: -10px;
	}

	.twitter2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 79% 51%;
	position: absolute;
	left: 83.5%;
	top: -10px;
	}

	.vkont2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 89% 50%;
	position: absolute;
	left: 88%;
	top: -10px;
	} 

 	.youtube2 {
	background: url("https://www.prospectro.net/uploads/images/00/00/04/2018/03/20/1a00b1.png") no-repeat;
	background-position: 98.5% 50%;	
	position: absolute;
	left: 92.5%;
	top: -10px;
	}

	.bgs-0 {
	position: absolute;	
	left: -29%;
	bottom: 122%;	
	}

	.bgs-1 {
	position: absolute;	
	left: -22.5%;
	bottom: 105%;	
	} 

	.bgs-2 {
	position: absolute;
	left: -16%;
	bottom: 88%;
	} 

	.bgs-3 {
	position: absolute;
	left: -9.5%;
	bottom: 71%;
	} 

	.bgs-4 {
	position: absolute;
	left: -3%;
	bottom: 54%;
	} 

	.bgs-5 {
	position: absolute;	
	left: 3.5%;
	bottom: 37%;
	} 

	.bgs-6 {
	position: absolute;	
	left: 10%;
	bottom: 20%;	
	} 

	.bgs-7 {
	position: absolute;	
	left: 16.5%;
	bottom: 3%;	
	} 
	